@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Hearthstone: Heroes of Warcraft</h1>
    <p>This is the Hearthstone: Heroes of Warcraft Card Browser and Deck Builder</p>
    <p><a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Cards" role="button">Browse Cards...</a></p>
    <p class="text-center">
        <iframe width="560" height="315" src="//www.youtube.com/embed/2S0XO-X9Q2c" frameborder="0" allowfullscreen></iframe>
    </p>
</div>
